html{
    background-image: url(img/foto.jpg); opacity: 0.6;
image-rendering: auto;    
    
}

* {
    margin: 0;
    font-family:"Cambria";
}

.header {
    background-color: rgb(152, 156, 211) ;
    height: 80px;
    justify-content: center;
    text-align: center;
}

.menu {
    margin: 10px 0;
}
.main1{
    justify-content: center;
    text-align: center;
}

.main2{
    justify-items: center;
    text-justify: center;

}

.menu a {
    color: #353b45;
    border: 1px solid #353b45;
    padding: 5px;
    margin: 10px
}

#selected {
    color:rgb(230, 173, 181)(34, 192, 20);
    border: 2px solid rgb(12, 7, 10)
}

a {
    text-decoration: none;
}
h2{
    text-align: center;
    justify-content: center;
}
#profile-picture {
    height: 300px
}
 
#labenu-logo {
    height: 100px;
}

button {
    background-color: lightgray;
    border: 2px solid #353b45;
    border-radius: 15px;
    height: 30px;
    width: 60px;
}

form input {
    display: block;
}

.footer {
    background-color: rgb(71, 75, 133);
    position: fixed;
    bottom: 0;
    width: 100%;
}
body{
    background:-moz-repeating-linear-gradient();
}
.footer{
 text-align: center;
 justify-content: center;
    color: #353b45;
}