


#cont {
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    height: 50px;



}



  
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  header {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }
  
  main {
    flex-grow: 1;
    display: flex;
  }
  
 
 
  
  footer {
    height: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
  }
  
  img,
  button {
    height: 25px;
  }
  
  
  button {
    margin-right: 7px;
  }
