div{
    margin:  10px;
    display: inline-block; 
    font-size: x-large;
    font-display: 50px;
    font: 500;
}

h1{
    background-color: rgb(189, 88, 139);
    margin: inline;
}
h2{
    background-color: rgb(161, 28, 106);
   display:inline;
}

.tamanhoimg{
    margin: 80px;
}